* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.product {
    padding: 25px calc(50% - 1172px / 2);
    background: #445161;
    display: flex;
    justify-content: space-between;
}

.product-title {
    font-size: 60px;
    line-height: 69px;
    color: white;
    font-weight: normal;
}

.product-img {
    max-width: 472px;
}

.product-list {
    margin-top: 40px;;
    font-size: 20px;
    line-height: 23px;
    color: white;
    list-style-type: none;
    margin-bottom: 19px;
}

.product-item {
    margin-bottom: 10px;
}

.product-item::before {
    content: "\2713 ";
    color: white;
    padding-right: 5px;
}

.about {
    padding: 45px calc(50% - 1172px / 2) 50px;
    background: white;
    display: flex;
    justify-content: space-between;
}

.about-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: normal;
    margin-bottom: 17px;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-right: 96px;
    margin-bottom: 11px;
}

.dignity {
    padding: 25px calc(50% - 1172px / 2) 22px;
    background: #F5F5F5;
}

.dignity-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: normal;
    margin-bottom: 15px;
    text-align: center;
}
.dignity-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.dignity-list-item {
    width: 45%;
    background: url(images/plus-icon.svg) no-repeat 0 8px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 26px;
}

.screenshots {
    padding: 25px calc(50% - 1172px / 2) 26px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screenshots-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: normal;
    margin-bottom: 43px;
    text-align: center;
    flex-basis: 100%;
}

.screenshots-item {
    width: 48%;
    margin-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

.screenshot-item-title {
    font-size: 24px;
    line-height: 30px;
    color: #445161;
    margin-bottom: 13px;
    font-weight: normal;
}

.screenshots-item-text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}

.screenshots-item-img {
    margin-right: 14px;
}

.reviews {
    padding: 25px calc(50% - 1172px / 2) 28px;
    background: #F5F5F5;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.reviews-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: normal;
    margin-bottom: 31px;
    text-align: center;
    flex-basis: 100%;
}
.reviews-article {
    width: 48%;
    padding-bottom: 24px;
    display: flex;
    align-items: flex-start;
}

.reviews-icon {
    margin-right: 15px;
}

.reviews-content {
    position: relative;
    background-color: #EBEBEB;
    border-radius: 5px;
    padding: 16px 10px 5px 15px;
}

.reviews-content::after {
    content: ''; 
    position: absolute;
    left: -24px; 
    top: 38px;
    border: 12px solid transparent; 
    border-right: 12px solid #EBEBEB;
}

.reviews-text {
    font-size: 14px;
    line-height: 18px;
    color: black;
    margin-bottom: 5px;
    font-style: italic;
}

.reviews-author {
    font-size: 14px;
    line-height: 18px;
    color: #989898;
    font-style: italic;
}

.offers {
    padding: 45px calc(50% - 990px / 2) 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.offers-h2 {
    font-size: 30px;
    line-height: 36px;
    color: #445161;
    font-weight: normal;
    margin-bottom: 26px;
    text-align: center;
    flex-basis: 100%;
}

.offers-item {
    width: 30.3%;
    background: #445162;
    border-radius: 5px;
    box-sizing: border-box;
    border: 2px solid #445162;
}

.offers-item-title {
    text-align: center;
    margin: 13px auto 8px;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: white;
}

.offers-item-price {
    text-align: center;
    background-color: white;
    font-size: 40px;
    line-height: 30px;
    color: #445162;
    padding: 25px 0 16px;
}

.offers-details {
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 8px 20px 0 40px;
}

.offers-button {
    display: block;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #445161;
    text-align: center;
    text-decoration: none;
    margin: 16px 19px 19px 19px;
    padding: 15px 0 10px;
    background-color: white;
    border-radius: 5px;
}

.contacts {
    padding: 25px calc(50% - 755px / 2) 48px;
    background: #445162;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.contacts-h2 {
    font-size: 30px;
    line-height: 36px;
    color: white;
    font-weight: normal;
    margin-bottom: 43px;
    text-align: center;
    flex-basis: 100%;
}

.contacts-form {
    width: 62%;
}

.form-input {
    display: block;
    padding: 10px 0 5px 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    margin-bottom: 18px;
    box-sizing: border-box;
    border: none;
}

.form-textarea {
    display: block;
    padding: 10px 0 5px 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 16px;
    line-height: 24px;
    color: #445162;
    margin-bottom: 18px;
    height: 173px;
    box-sizing: border-box;
}

.form-input::placeholder, .form-textarea::placeholder {
    color: #445162;
    font-family: Arial, Helvetica, sans-serif;
}

.form-button {
    display: block;
    padding: 10px 50px 5px;
    margin: 0 auto;
    background-color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    color: #445162;
}

.contacts-list {
    list-style-type: none;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding-top: 6px;
    margin-bottom: 47px;
}

.contacts-list-item {
    margin-bottom: 20px;
}

.contacts-list-item>img {
    margin-right: 10px;
}

.social-button {
    margin-right: 4px;
}

.footer {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    color: #445162;
    padding: 13px 0 12px;
}

/* background video */

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 0;
}

.video-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.full-width-video {
    width: 100%;
}

.overlay-top {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
}

.overlay-bottom {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    text-align: center;
    width: 100%;
}

.heading {
    margin-bottom: 20px;
}

.menu-list {
    display: flex;
    list-style-type: none;
    margin-top: 20px;  
}

.menu-list-item {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    margin-right: 2px;
}

.menu-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-link {
    color: white;
    text-decoration: none;
}

/* forms examples */

.form-letters-bg {
    background: url(images/bg_darkgray_gradient.png);
    padding: 50px 0;
    width: 100%;
}

.form-letters {
    width: 873px;
    height: 514px;
    margin: 0 auto;
    background: url(images/bg_letters.png);
    padding: 120px 75px 0 73px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.letters-contacts {
    width: 33%;
}

.letters-heading {
    font-weight: normal;
    font-size: 22px;
    line-height: 25px;
    color: #344E78;
    margin-bottom: 6px;
}

.letters-hr{
    outline: 1px solid #D4D3D1;
    border: none; 
    margin-bottom: 19px;
}

.letters-address {
    font-size: 16px;
    line-height: 25px;
    color: #545455;
    width: 70%;
}

.letters-content {
    width: 59%;
}

.letters-form {
    width: 400px;
    display: flex;
    flex-direction: column;
}

.letters-label {
    display: block;
    font-size: 13px;
    line-height: 15px;
    color: #545455;
}

.letters-label>em {
    color: darkred;
}

.letters-input {
    display: block;
    width: 400px;
    background: linear-gradient(90deg, #BBBBBB 18.37%, #BDBDBD 82.86%);
    border-radius: 3px;
    border: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    color: #545455;
    padding: 5px 10px;
    margin-bottom: 10px;
    font-family: inherit;
    font-style: inherit;
    margin-top: 6px;
    box-sizing: border-box;
}

.letters-textarea {
    display: block;
    width: 400px;
    height: 100px;
    background: linear-gradient(90deg, #BBBBBB 18.37%, #BDBDBD 82.86%);
    border-radius: 3px;
    border: 1px solid white;
    font-size: 16px;
    line-height: 18px;
    color: #545455;
    padding: 5px 10px;
    margin-bottom: 15px;
    font-family: inherit;
    font-style: inherit;
    margin-top: 6px;
    box-sizing: border-box;
    resize: none;
}

.letters-submit {
    font-size: 11px;
    line-height: 12px;
    text-transform: uppercase;
    color: #A56169;
    border: none;
    outline: 1px solid #A56169;
    font-family: inherit;
    font-style: inherit;
    padding: 8px 6px 6px 6px;
    align-self: flex-end;
    background: none;
}

.form-gray-bg {
    background: lightgray;
    width: 100%;
    padding: 50px 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-gray {
    margin: 0 auto;
    padding: 0 40px;
    width: 326px;
    height: 291px;
    background: url(images/bg_gray_frame.png);
    box-sizing: border-box;
}

.form-gray-content {
    margin: 0 auto;
    background: url(images/bg_gray_stripe.png);
    background-position: center 14px;
    height: 263px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.form-gray-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 31px;
    margin-bottom: 47px;
}

.form-gray-title-auth {
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: white;

}

.form-gray-input {
    background-color: white;
    width: 100%;
    border: 1px solid #7F7F7F;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 15px;
    line-height: 17px;
    color: #666666;
    font-family: inherit;
    padding: 9px 12px 10px 12px;
    margin-top: 11px;
}

.form-gray-input::placeholder {
    color: #9F9F9F;
    font-family: inherit;
}

.form-gray-submit {
    align-self: center;
    margin-top: 27px;
    font-size: 18px;
    line-height: 21px;
    color: #3E3E3E;
    background: linear-gradient(180deg, #E1E1E1 0%, #C3C3C3 79.17%, #D2D2D2 100%);;
    width: 120px;
    height: 37px;
    border-radius: 6px;
    border: none;
}


